button{
    background-color: hsl(47, 88%, 63%);
    border: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px
}

html,
body {
  margin: 0;
  height: 100%;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 500;
}

main{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border: 10px solid hsl(0, 0%, 100%);
    max-width: 384px;
    height: 522px;
    border-radius: 20px;

}


.image img {
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

span {
    margin: 10px;
    color:hsl(0, 0%, 7%);
    font-size:14px;   
    font-family: Figtree;
    font-weight: 800;
    
  }


.avatar {
    margin-top: 25px;
   
}

.avatar img {
    width:30px;
    height:30px;
    vertical-align: middle;
}

.attribution {
    margin-top: 25px;
    text-align: center;
}

.text-one{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-two{
    color: hsl(0, 0%, 42%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.title{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    color: hsl(0, 0%, 7%);
}

